$border-color: #f18701;

@mixin background-color-alpha($alpha, $type) {
    @if $type == heading {
        background: rgba(255, 220, 0, $alpha);
    } @else {
        background: rgba(255, 255, 255, $alpha);
    }
}

@mixin heading($alpha, $size) {
    @include background-color-alpha($alpha, heading);
    padding: 10px 20px 10px 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: $size;
    color: black;
}

@mixin about-content($screensize) {
    @if $screensize == small {
        p {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
        }
    } @else {
        p {
            grid-column: 3 / span 1;
            grid-row: 1 / span 2;
        }
    }
}

.about {
    padding-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 1em;
    }

    section {
        $alpha: 0.8;
        @include background-color-alpha($alpha, section);

        border: 5px solid $border-color;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    &-heading {
        $alpha: 0.6;
        $size: 1.5em;
        @include heading($alpha, $size);
        align-self: stretch;
        text-align: center;

        &-subsection {
            $alpha: 0.4;
            $size: 1em;
            @include heading($alpha, $size);
        }
    }

    &-subsection-fleet-container {
        display: grid;
        grid-gap: 1rem;

        @media screen and (max-width: 1024px) {
            @include about-content(small);
            grid-template-columns: repeat(2, minmax(320px, 1fr));
            grid-template-rows: repeat(2, minmax(200px, 300px)) auto;
            grid-auto-flow: column;

            img {
                box-sizing: border-box;
                max-width: 90%;
                max-height: 290px;
                justify-self: center;
                align-self: center;
                box-shadow: 0 0 5px 5px black;
            }
        }
        @media screen and (min-width: 1024px) {
            @include about-content(large);
            grid-template-columns: 1fr 1fr minmax(200px, 320px);
            grid-template-rows: 1fr 1fr;

            img {
                box-sizing: border-box;
                max-width: 90%;
                max-height: 280px;
                justify-self: center;
                align-self: center;
                box-shadow: 0 0 5px 5px black;
            }
        }
    }

    &-subsection-base-container {
        display: grid;
        grid-gap: 1rem;

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-template-rows: minmax(200px, 400px) auto;
            grid-auto-flow: column;

            img {
                box-sizing: border-box;
                max-width: 90%;
                max-height: 400px;
                justify-self: center;
                align-self: center;
                box-shadow: 0 0 5px 5px black;
            }
            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr minmax(200px, 320px);
            grid-template-rows: 1fr;

            img {
                box-sizing: border-box;
                max-width: 100%;
                max-height: 600px;
                justify-self: center;
                align-self: center;
                box-shadow: 0 0 5px 5px black;
            }
        }
    }
}