$button-background-color: #cbbaed;
$button-text-color: black;
$border-color-summer: #f18701;
$border-color-offseason: #A0E6FF;

@mixin nav-button {
    a {
        box-sizing: inherit;
        display: block;
        text-align: center;
        font-size: 1.5em;
        background-color: $button-background-color;
        color: $button-text-color;
        border: 2px solid $border-color-summer;
        &.offseason {
            border: 2px solid $border-color-offseason;
        }
        border-radius: 10px;

        &:link {
            background-color: $button-background-color;
        }
        
        &:visited {
            background-color: $button-background-color;
        }
        
        &:hover {
            background-color: #fb5012;
        }
        
        &:active {
            background-color: #f35b04;
        }
    }
}

.nav-menu-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    li {
        flex: 1 1 auto;
        box-sizing: border-box;
        margin: 5px;
        @include nav-button();
    }
}