@mixin background-image($path) {
    background: rgb(255, 220, 0) url($path) no-repeat center center fixed;
    background-size: cover;
}

@mixin background-color-alpha($alpha) {
    background: rgba(255, 220, 0, $alpha);
}

@media screen and (max-width: 1024px) {
    main {
        @include background-image('../images/background/portrait.jpg');
    }
}

@media screen and (min-width: 1024px) {
    main {
        @include background-image('../images/background/landscape.jpg');
    }
}

.articles {
    &-main-heading {
        $alpha: 0.5;
        @include background-color-alpha($alpha);

        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 1.5em;
        color: black;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 1em;
    }
}