@mixin background-image($path) {
    background: rgb(255, 220, 0) url($path) no-repeat center center fixed;
    background-size: cover;
}

@mixin background-color-alpha($alpha, $season) {
    @if $season == summer {
        background: rgba(255, 220, 0, $alpha);
    } @else {
        background: rgba(160, 230, 255, $alpha);
    }
}

@media screen and (max-width: 1024px) {
    main {
        @include background-image('../images/background/portrait.jpg');
    }
}

@media screen and (min-width: 1024px) {
    main {
        @include background-image('../images/background/landscape.jpg');
    }
}

main {
    grid-row: main / span 1;
}

.articles {
    padding-bottom: 10px;

    &-main-heading {
        &-summer {
            $alpha: 0.5;
            @include background-color-alpha($alpha, summer);
        }
        &-offseason {
            $alpha: 1;
            @include background-color-alpha($alpha, winter);
        }

        padding: 10px 20px 10px 20px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 1.5em;
        color: black;
    }

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1em;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;

        &-collection {
            grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        }
    }
}