@mixin background-color-alpha($alpha) {
    background: rgba(255, 220, 0, $alpha);
}

.intro {
    $alpha-intro: 0.8;
    @include background-color-alpha($alpha-intro);
    
    padding: 10px 20px 10px 20px;

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 1.5em;
        color: black;
    }
    p {
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 1em;
        color: black;
    }
}