@import url('https://use.fontawesome.com/releases/v5.10.1/js/all.js');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@import 'header';
@import 'header-nav-menu';

@import 'main';
@import 'article';

$font-stack: 'Nunito', sans-serif;

// global styles
* {
    font-family: $font-stack;
}

body {
    margin: 0;
    padding: 0;

    & > footer {
        padding: 10px 20px 10px 20px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-grid {
    display: grid;
}