@import url('https://use.fontawesome.com/releases/v5.10.1/js/all.js');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@import 'header';
@import 'header-nav-menu';

@import 'main';
@import 'main-intro';
@import 'article';

@import 'footer';

$font-stack: 'Nunito', sans-serif;

// global styles
* {
    font-family: $font-stack;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-page {
    display: grid;
    grid-template-rows: [header] 100px [main] auto [footer] 100px;
    
    & > footer {
        box-sizing: border-box;
        padding: 10px 20px 10px 20px;
        
        p {
            margin: 0;
            font-size: 0.8em;
        }
    }
}