@import url('https://use.fontawesome.com/releases/v5.10.1/js/all.js');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// global styles
* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main, footer {
    padding: 10px 20px 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-grid {
    display: grid;
}

img {
    width: 100%;
}

// header
.header {
    background-color: #ffdc00;
    height: 100px;
    
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    grid-template-columns: [taxi-logo] 10% [heading] 20% [nav-menu] auto;
    grid-template-rows: [header-start] 100px [header-end];
}

.header-taxi-logo {
    grid-column: taxi-logo / span 1;
    grid-row: header-start / span 1;
    align-self: center;
    justify-self: center;

    font-size: 4em;
}

.header-heading {
    grid-column: heading / span 1;
    grid-row: header-start / span 1;
    align-self: center;
    justify-self: left;
    font-size: 2.5em;
}

.nav-menu {
    grid-column: nav-menu / span 1;
    grid-row: header-start / span 1;
    align-self: center;
    justify-self: right;
    width: 100%;
}

.nav-menu-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    li {
        flex: 1 1 auto;
        box-sizing: border-box;
        a {
            box-sizing: inherit;
            display: block;
            font-size: 1.5em;
            text-align: center;
        }
    }
}